<!DOCTYPE html>
<html lang="en" ng-app='myApp'>
<head>
	<meta charset="UTF-8">

	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="./style/css/main.css">
	<title>Angular Template</title>
    <script src="dist/build/build.min.js"></script>

</head>
<body>

<div class='ng-cloak' ng-controller='main'>
	<div class='row'>

	<nav class='navbar navbar-light'>
			<div class='col-sm-2 pull-right'>
			<div class='col-sm-3'>
				<span>About</span>
			</div>
			<div class='col-sm-9'>
				<span ng-click="toggleContact()">Contact</span>
			</div>
			
			</div>
	</nav>
	
	<div class='container'>
	
	
		

		<div class='row text-center'>
			<h2>I’m a sentence used to convey something about someone.</h2>
		</div>
		<div class='container'>
			<div class='col-sm-12'>
				<ul class='skill-list'>
					<li class="text-center" ng-click="toggleActive($index,skill)" ng-repeat="skill in skills">{{skill}}</li>
				</ul>
				<hr class='glow-line'/>
			</div>
		</div>
		<div class='image-contain row text-center'>
			
				<div class='col-lg-4 col-md-4 col-sm-6 col-xs-12 image-item' ng-repeat="item in second"><img ng-click="toggleImage(item)" src="{{item.url}}"</div>
			
		</div>
	</div>

	<div id="contact-modal" class='row modal hide-modal'>
		<div class=' modal-contain col-lg-6 col-lg-offset-3 contact'>
			<div class='col-sm-12 text-right noPad close-contain'><span class='close-modal' ng-click="toggleContact()">x</span></div>

			<div class='col-sm-12 noPad text-center'><h2>Lets get to know you</h2></div>

			<form method="post">
				<div class='col-sm-12 noPad'>
					<div class='col-sm-1'></div>
					<div class='col-sm-10'>
						<div class='form-group'>
							<label>
								Email
							</label>
							<input class='modal-input form-control' type="email" placeholder="email@example.com" />
						</div>
						<div class='form-group'>
							<label>
								Message
							</label>
							<textarea class='message modal-input form-control' placeholder='message'></textarea>
						</div>
						<div class='form-group text-right'>
							
							<button type="submit" class='btn btn-primary modal-button'>Submit</button>
							
						</div>
					</div>
					<div class='col-sm-1'></div>

				</div>
			</form>
		</div>	
	</div>

	<div id="image-modal" class='row modal hide-modal'>
		<div class=' modal-contain col-lg-8 col-lg-offset-2'>
			<div class='col-sm-12 text-right noPad close-contain'>
				<span class='close-modal' ng-click="toggleImage()">x</span>
			</div>

			<div style="position: relative">
			<div class='about-project'>
				<h2>{{title}}</h2>
				<ul>
					<li ng-repeat="tag in tags">{{tag}}</li>
				</ul>
				<h4>{{description}}</h4>
				
			</div>
			<img src="{{image}}"/>

			<a href="{{site}}"><span>site</span></a>
			<a href="{{github}}"><span>github</span></a>
			</div>
		</div>	

	</div>

	</div>
</div>
	
</body>
</html>
