body {
	background-color: #3b3b3b;
	color:#e8e9e8;
	overflow-x: hidden;

}

nav {
	padding-top:8px;
	padding-bottom: 8px;
}
nav span {
	
	font-size: 18px;
	font-weight: 100;
	cursor: pointer;
}

h2 {
	
	font-size: 40px;
	font-weight: 200;
}

ul {
	padding:0;
	margin:0;
}

li {
	list-style: none; 
}

input:focus {
	border-color:green!important;
}

textarea:focus {
	border-color:green!important;
}

.modal-button {
	background-color: #000;
	border:1px solid #ddd;
}

.modal-button:hover {
	background-color: #000;
	border:1px solid green;
}

.modal-input {
	background-color: #000;
	border:1px solid #ddd;
}

.message {
	padding-bottom: 55px;
	background-color: #000;
	border:1px solid #ddd;
	resize:none;

}
.close-contain {
	z-index: 10;
}
.close-modal {
	font-size: 30px;
	cursor: pointer;
}

.modal {
    display: block; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: hidden; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

.modal-contain {
	background-color: #000;
}

.hide-modal {
	display: none;
}

.contact {
	top:30vh;
}

.skill-list {
	padding-top:75px;
	border-bottom: 3px solid #ccc;

	li {
		display: inline-block;
		width:10%;
		cursor: pointer;
		margin-bottom: -1px;
		padding-bottom: 17px;
	}


}

hr {
  height: .27rem;
  width: 10%;
  margin: 0;
  position: relative;
  top:-2px;
  background: #559363;
  border: none;
  transition: .3s ease-in-out;
}

.glow-line {

}

.about-project {
	top:0px;
	position: absolute;
	z-index: 100;
}

.image-contain {
	position: relative;
	top:40px;

}

.image-item {

	margin-top:30px;

	img {
		width:250px;
		height:250px;
	}
}

.image-modal-contain {
	top:10%;
	position: relative;
}

.modal-contain-contact {
	padding-bottom: 30px;
}

.test {
	position: relative;
}



#image-modal {
	
	img {
	
		top:0;
		width:100%;
		height:85vh
	}
	a {
		position: relative;
		display: block;
	}

	li {
		display: inline-block;

	}

	.description {
	 position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
	}
}

.link-contain {
	top:400px;
}


