body {
	background-color: #3b3b3b;
	color:#e8e9e8;

}

nav {
	padding-top:8px;
	padding-bottom: 8px;
}
nav span {
	
	font-size: 18px;
	font-weight: 100;
	cursor: pointer;
}

h2 {
	
	font-size: 40px;
	font-weight: 200;
}

ul {
	padding:0;
	margin:0;
}

li {
	list-style: none; 
}

.modal-button {
	background-color: #000;
	border:1px solid #ddd;
}

.modal-input {
	background-color: #000;
	border:1px solid #ddd;
}

.message {
	padding-bottom: 55px;
	background-color: #000;
	border:1px solid #ddd;

}

.close-modal {
	font-size: 30px;
	cursor: pointer;
}

.modal {
    display: block; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

.modal-contain {
	background-color: #000;
}

.hide-modal {
	display: none;
}

.skill-list {
	padding-top:75px;
	border-bottom: 2px solid #ccc;

	li {
		display: inline-block;
		width:10%;
		cursor: pointer;
		margin-bottom: -1px;
		padding-bottom: 17px;
	}
}

.active {
	border-bottom: 2px solid #559363;
	margin-bottom: 1px;
}

.image-contain {
	position: relative;
	top:40px;

}

.image-item {

	margin-top:30px;

	img {
		width:250px;
		height:250px;
	}
}


