body {
  background-color: #3b3b3b;
  color: #e8e9e8;
  overflow-x: hidden; }

nav {
  padding-top: 8px;
  padding-bottom: 8px; }
  nav span {
    font-size: 18px;
    font-weight: 100;
    cursor: pointer; }

h2 {
  font-size: 40px;
  font-weight: 200; }

ul {
  padding: 0;
  margin: 0; }

li {
  list-style: none; }

input:focus {
  border-color: green !important; }

textarea:focus {
  border-color: green !important; }

.close-contain {
  z-index: 10; }

.close-modal {
  font-size: 30px;
  cursor: pointer; }

.close-modal:hover {
  cursor: pointer; }

.modal-input {
  background-color: #000;
  border: 1px solid #ddd; }

.message {
  padding-bottom: 55px;
  background-color: #000;
  border: 1px solid #ddd;
  resize: none; }

.modal-button {
  background-color: #000;
  border: 1px solid #ddd; }

.modal-button:hover {
  background-color: #000;
  border: 1px solid green; }

#overlay {
  display: block;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: hidden;
  /* Enable scroll if needed */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.9);
  /* Black w/ opacity */ }

.overlay {
  display: none !important; }

.modal-contain {
  background-color: #000; }

.hide-modal {
  display: none; }

.disabled {
  visibility: hidden;
  cursor: default; }

.contact {
  top: 30vh; }

.skill-list {
  padding-top: 75px;
  border-bottom: 3px solid #ccc; }
  .skill-list li {
    display: inline-block;
    width: 10%;
    cursor: pointer;
    margin-bottom: -1px;
    padding-bottom: 17px; }

hr {
  height: .27rem;
  width: 10%;
  margin: 0;
  position: relative;
  top: -2px;
  background: #559363;
  border: none;
  transition: .3s ease-in-out; }

.about-project {
  top: 0px;
  position: absolute;
  z-index: 100; }

.image-contain {
  position: relative;
  top: 40px; }
  .image-contain img {
    cursor: pointer; }

.image-item {
  margin-top: 30px; }
  .image-item img {
    width: 250px;
    height: 250px; }

.image-modal-contain {
  top: 10%;
  position: relative; }

.modal-contain-contact {
  padding-bottom: 30px;
  z-index: 999;
  display: none;
  opacity: 0;
  position: absolute;
  top: 50px; }

.show-modal {
  display: block;
  opacity: 1; }

.test {
  position: relative; }

#image-modal img {
  top: 0;
  width: 100%;
  height: 85vh; }

#image-modal a {
  position: relative;
  display: block; }

#image-modal li {
  display: inline-block; }

#image-modal .description {
  position: relative;
  top: 95px; }

.link-contain {
  top: 400px; }

.check {
  stroke-dasharray: 130px 130px;
  stroke-dashoffset: 130px;
  -webkit-transition: stroke-dashoffset 4.1s linear 0s;
  transition: stroke-dashoffset 500ms ease-in-out; }

svg {
  position: absolute;
  left: 190px;
  top: 175px; }
